# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
*.jar
backups/
journeymap/
local/
llibrary/
logs/
saves/
usercache.json
screenshots/
natives/
usernamecache.json
icon.png
crafttweaker.log
BotaniaVars.dat
astralsorcery/
realms_persistence.json
dumps/
crafttweaker_dump/
mods/
options.txt
mmc-pack.json
minecraftinstance.json
instance.cfg
.curseclient
resourcepacks/
twitch_export-win.exe
.build.json
GameVersions.json
GetGameVersions.bat
modpack_upload_settings.cfg
ModpackUploadTool.bat
LICENSE
patchouli_data.json
crash-reports/
*.zip
ModpackFileId.json
config/thaumicjei_itemstack_aspects.json
.mixin.out/
