# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
*.jar
.minecraft/backups
.minecraft/journeymap
.minecraft/local
.minecraft/llibrary
.minecraft/logs
.minecraft/saves
.minecraft/usercache.json
.minecraft/screenshots
natives/
.minecraft/usernamecache.json
.minecraft/icon.png
.minecraft/crafttweaker.log
.minecraft/BotaniaVars.dat
.minecraft/astralsorcery
.minecraft/realms_persistence.json
